.header-poll {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(5, 5, 5, 0.06);
  height: 40px;
}

.header-poll .ant-menu-horizontal {
  border-bottom: unset;
}

.header-right {
  padding-right: 16px;
  display: flex;
  align-items: center;
}

.user-infor {
  margin-right: 16px;
  display: flex;
  align-items: center;
}

.user-infor label {
  font-weight: 500;
}

.logout {
  width: 55px;
  flex-shrink: 1;
  padding: 5px;
}

.logout:active {
  border-radius: 5px;
}

.logout:hover {
  background-color: #82b4f9;
  border-radius: 5px;
  cursor: pointer;
}
