.answer {
  border-radius: 5px;
  border: 1px solid;
  /* padding: 15px; */
  width: 600px;
}
.answer .btn {
  border-top: 1px solid #4d4d4d;
}

.answer .btn:disabled {
  background-color: unset;
  color: #4d4d4d;
}

.option {
  padding: 10px;
}

.selection {
  width: 100%;
  border-radius: unset;
  background-color: #669fee;
  color: #fffbf5;
  border: unset;
}

.voted:disabled {
  background-color: #33cc33 !important;
  color: #fffbf5 !important;
}
