.login-page {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ant-form-item-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ant-form-item-control {
  width: 100%;
}

.field-space {
  margin-bottom: 24px;
  height: 64px;
}

.login-space {
  width: 100%;
}
